body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;

}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
}
h3{
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

.input-container{
    max-width: 700px; /* Fixed width */
    padding: 10px 10px 10px 10px;
    background-color: #ffffff; /* White background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin: 50px auto; 
    color: darkgrey;
}

#task-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 92%;
    box-sizing: border-box; /* Include padding in width */
    flex: 1; /* Grow to fill available space */
}

#submit, #clear{
    padding: 8px 16px;
    background-color: hwb(240 87% 9%);
    color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap
}

#clear-tasks{
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    justify-content: center;    
}



#submit:hover, #clear:hover {
    background-color: #bfbfbf;
}

.task-list-container{
    max-width: 600px; /* Fixed width */
    padding: 10px 10px 10px 10px;
    border-radius: 10px; /* Rounded corners */
    margin: 5px auto; 
}

#task-list{
    list-style-type: none;
}

#task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin: 10px;
    padding: 12px 16px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    flex-wrap: wrap;
  }

#task-list li span {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 70%;          /* Prevent it from taking full width */
  }

.button-group {
    display: flex;
    gap: 10px; /* Adjust space as needed */
  }
  

.delete-button, .complete-button{
    background-color: hsla(0, 80%, 50%, 0.655);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.complete-button{
    background-color: #4CAF50; /* Green */
}

.delete-button:hover, .complete-button:hover{
    background-color: #000000;
}

.completed{
    text-decoration: line-through;
    color: #888;
}